
<div class="banner-breadcum section">
    <div class="row">
        <div class="breadcrumb-image" style="background-image: url(https://images.pexels.com/photos/544117/pexels-photo-544117.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);">
        <div class="container text-center">
            <h1>ABOUT US</h1>
            <p> Building the Finest Quality Bank of World in India by 2020</p>
                
        </div>
    </div>
      </div>
    </div>
    <h4>
        Our BANK has been recognized amongst the Top and Fastest Growing Banks in various Indian Banking League Tables by prestigious media houses and Global Advisory Firms, and has received several national and international honours for our various Businesses including Corporate Investment Banking, Treasury, Transaction Banking, and Sustainable practices through Responsible Banking. EK NUMBER BANK is steadily evolving as the Professionals’ Bank of India with the long term mission of ‘Finest Quality Large Bank in India’ by 2020</h4>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="card">
         
          <h1>Piyush Gupta</h1>
          <p class="title">CEO & Founder, Bank Project</p>
          <p>Chandigarh University</p>
          <i class="fa fa-dribbble"></i>
          <a href="#"><i class="fa fa-twitter"></i></a> 
          <a href="#"><i class="fa fa-linkedin"></i></a> 
          <a href="#"><i class="fa fa-facebook"></i></a> 
          <p><button disabled=true>Contact : 7814894440<br>E-mail : piyushkapss@gmail.com</button></p>
        </div>  