<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  

<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <label>Ek Number Bank</label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
                    <a class="nav-link" id="vv" routerLink="servicem">Services </a>
                  </li>
                 
           
           
          
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <a routerLink="mypro" class="btn btn-outline-success my-2 my-sm-0" role="button"><i class="fas fa-user"></i></a>
              <a routerLink="about" class="btn btn-outline-success my-2 my-sm-0" role="button">About Us</a>
                <a routerLink="contact" class="btn btn-outline-success my-2 my-sm-0" role="button">Contact Us</a>
                <a routerLink="" class="btn btn-outline-success my-2 my-sm-0" role="button">LogOut</a>
          </form>
        </div>
      </nav>
      <router-outlet></router-outlet> 