<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
 <label >
    UserName: {{userr.id}}<br>
    Full Name: {{userr.Name}}<br>
    Email: {{userr.Email}}<br>
    IFSC Number: {{userr.IFSC}}<br>
    Account Number: {{userr.AccountNumber}}<br>
    MobileNumber: {{userr.MobileNumber}}<br>
    Password: {{userr.Password}}
 </label>
   
  <!--<a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> -->
  <p><button>Contact</button></p>
</div>

